html, body {
    width: 100%;
    /*height: 100%;*/
}

body {
    padding-bottom: 20px;
    color: #333;
    font-size: 12px;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
    user-select: none;
    background: radial-gradient(circle at center, lightseagreen, cornflowerblue);
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.textellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overhidden {
    overflow: hidden;
}

.w1190 {
    margin: 0 auto;
    width: 1190px;
}

.blog_top {
    height: 36px;
    line-height: 36px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e5e5e5;
}

.blog_mark {
    float: left;
}

.blog_date {
    float: left;
}

.blog_split:before {
    content: '|';
    padding: 0 8px;
}

.blog_header {
    padding: 20px 0;
    box-shadow: 0 2px 2px #ccc;
}

.blog_header_left {
    float: left;
    width: 150px;
}

.blog_face {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: url("../images/blog-face.jpg") no-repeat center;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.blog_header_right {
    float: right;
    width: 1020px;
}

.blog_title {
    height: 146px;
    text-align: center;
}

.blog_title div {
    float: left;
    height: 100%;
}

.blog_title_left,
.blog_title_right {
    width: 30px;
    line-height: 37px;
    font-size: 20px;
    color: #10db80;
    /*font-weight: bold;*/
}

.blog_title_center {
    margin: 0 auto;
    width: 500px;
    line-height: 146px;
    font-size: 120px;
    text-shadow: -6px -5px 10px #888;
}

.blog_music {
    margin-top: 2px;
    height: 310px;
    border-bottom: 2px dotted #e5e5e5;
}

.blog_music_list,
.blog_music_singer,
.blog_music_play {
    float: left;
    width: 33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #e5e5e5;
}

.blog_music_list li {
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #ccc;
}

.blog_music_list li:first-child {
    border-top: 0;
}

.blog_music_item div {
    float: left;
    padding: 0 10px;
    width: 40%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.blog_music_item.active {
    background-color: #10db80;
    color: #fff;
}

.blog_music_item.active .blog_play_btn:hover {
    color: inherit;
}

.blog_play_btn {
    width: 20% !important;
    text-align: center;
    cursor: pointer;
}

.blog_play_btn:hover {
    color: #10db80;
}

.blog_music_singer {
    float: left;
    padding: 10px;
    height: 310px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.blog_music_singer img {
    border-radius: 5px;
}

.blog_music_singer div {
    height: 37px;
    line-height: 37px;
}

.blog_singer_intro:hover {
    cursor: pointer;
    color: #10db80;
}

.blog_music_play {
    float: left;
    padding: 10px;
    width: 34%;
    height: 310px;
    text-align: center;
    overflow-y: auto;
    border-right: 1px solid #e5e5e5;
}

.blog_music_play li {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.blog_music_play li:first-child {
    font-size: 14px;
    font-weight: bold;
}

canvas {
    margin-top: 25px;
}

.blog_album_list {
    transition: all 1s linear;
}

.blog_album_list li {
    float: left;
    padding: 10px 20px 10px 0;
    width: 384px;
    height: 216px;
}

.blog_album_list li img {
    display: block;
    width: 100%;
}

.blog_articles_list {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.blog_articles_title {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.blog_articles_title:first-child {
    border-top: 0;
}

.blog_articles_title.active {
    background-color: #10db80;
    color: #fff;
}

.blog_articles_body {
    padding: 10px 0;
    border-top: 2px dotted #e5e5e5;
}