html, body {
    width: 100%;
    /*height: 100%;*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    padding-bottom: 20px;
    color: #333;
    font-size: 12px;
    font-family: "Microsoft JhengHei", sans-serif, SansSerif;
    user-select: none;
    background: radial-gradient(circle at center, lightseagreen, cornflowerblue);
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.textellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overhidden {
    overflow: hidden;
}

.w1190 {
    margin: 0 auto;
    width: 1190px;
}

.blog_h20 {
    height: 20px;
}

.blog_top {
    height: 36px;
    line-height: 36px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e5e5e5;
}

.blog_mark {
    float: left;
}

.blog_date {
    float: left;
}

.blog_split:before {
    content: '|';
    padding: 0 8px;
}

.blog_header {
    padding: 20px 0;
    box-shadow: 0 2px 2px #ccc;
}

.blog_header_left {
    float: left;
    width: 150px;
}

.blog_face {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: url("../images/blog-face.jpg") no-repeat center;
    background-size: cover;
}

.blog_header_right {
    float: right;
    width: 1020px;
}

.blog_title {
    height: 146px;
    text-align: center;
}

.blog_title div {
    float: left;
    height: 100%;
}

.blog_title_left,
.blog_title_right {
    width: 30px;
    line-height: 37px;
    font-size: 20px;
    color: #fff;
}

.blog_title_center {
    margin: 0 auto;
    width: 500px;
    line-height: 146px;
    font-size: 120px;
    text-shadow: -6px -5px 10px #888;
}

.blog_music {
    height: 400px;
    border-top: 2px dotted #e5e5e5;
    border-bottom: 2px dotted #e5e5e5;
}

.blog_music > div {
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid #e5e5e5;
}

.blog_music > div > * {
    position: relative;
    flex-grow: 1;
    max-width: 33.3%;
    text-align: center;
    border-left: 1px solid #e5e5e5;
}

.blog_music_list li {
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    border-top: 1px solid #ccc;
}

.blog_music_list li:first-child {
    border-top: 0;
}

.blog_music_item div {
    padding: 0 10px;
}

.blog_music_list li div:first-child {
    width: 40%;
    text-align: left;
}

.blog_music_item.active {
    background-color: #10db80;
    color: #fff;
}

.blog_music_item.active .blog_play_btn:hover {
    color: inherit;
}

.blog_music_singer {
    padding-top: 30px;
    font-size: 14px;
    color: #fff;
}

.blog_play_btn {
    text-align: right;
    cursor: pointer;
}

.blog_play_btn:hover {
    color: #10db80;
}

.blog_music_singer img.default_image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.blog_music_singer div {
    padding: 0 20px;
    height: 37px;
    line-height: 37px;
}

.blog_singer_intro:hover {
    cursor: pointer;
    color: #10db80;
}

.blog_music_play li {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.blog_music_play li:first-child {
    font-size: 14px;
    font-weight: bold;
}

canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.blog_flex {
    display: flex;
}

.blog_slider,
.blog_articles {
    width: 50%;
}

.blog_slider {
    height: 300px;
}

.blog_slider img {
    width: 100%;
    height: 100%;
}

.blog_slider .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

.blog_articles_list {
    justify-content: center;
    flex-wrap: wrap;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
}

.blog_articles_list li {
    padding: 0 10px;
    cursor: pointer;
}

.blog_articles_title.active,
.blog_articles_title:hover {
    background-color: #10db80;
    color: #fff;
}

.blog_articles_body {
    padding: 10px 0;
    border-top: 2px dotted #e5e5e5;
}